
<div role="main" class="main">

    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>

    <div class="container py-4">
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h2 style="color:#a62237" class="font-weight-normal mb-5"><strong class="font-weight-extra-bold">Administration</strong><strong class="font-weight-extra-bold"></strong></h2>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container py-2">

    <div class="row">

        <div class="col-lg-12">
            <section class="call-to-action featured button-centered  featured-primary mb-5">
                <div class="col-12">
                    <div class="call-to-action-content featured featured-primary">
                        <h5>Admin <strong class="font-weight-extra-bold"></strong>Take up<strong class="font-weight-extra-bold"></strong></h5>

                    </div>
                </div>
                <div class="col-12">
                    <div class="call-to-action-btn">
                        <a asp-area="Identity" asp-route-id="4" asp-page="/Account/Register" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="btn btn-modern text-2 btn-secondary">Register</a>

                    </div>
                </div>
            </section>
        </div>

    </div>
</div>