@model _18TWENTY8.Models.BursaryApplication




    <div role="main" class="main">
        <div class="containerered">

            <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12 align-self-center p-static order-2 text-center">


                        </div>

                        <div class="col-md-12 align-self-center order-1">


                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container py-4">
                    <div class="col">
                        <div class="row">
                            <div class="col text-center">
                                <h2 style="color:#a62237" class="font-weight-normal mb-5">Administration <strong class="font-weight-extra-bold">Bursary Capture</strong></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="container py-2">
                <form asp-action="BursaryCapture" role="form" class="needs-validation" enctype="multipart/form-data">
                    <div class="row">

                        <div class="col-lg-3 mt-4 mt-lg-0">

                            <div class="d-flex justify-content-center mb-4">
                                @*<div class="profile-image-outer-container" data-provides="fileupload">
                                    <div class="profile-image-inner-container bg-color-primary">
                                        <img id="output" src="~/img/avatars/avatar.jpg" />
                                        <span class="profile-image-button bg-color-dark">
                                            <i class="fas fa-camera text-dark"></i>
                                        </span>
                                    </div>

                                    <input type="file" required class="profile-image-input" name="pc" id="pc" onchange="loadFile(event)" />
                                </div>*@
                                @*<div class="profile-image-inner-container bg-color-primary">
                    <label style="cursor: pointer;">
                        <span for="file" class="profile-image-button bg-color-dark">
                            <i class="fas fa-camera text-light"></i>
                        </span>
                    </label>
                    <p><img id="output" width="200" src="~/img/avatars/avatar.jpg"></p>

                </div>
                <p><input type="file" class="profile-image-input" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;"></p>*@


                            </div>



                        </div>
                        <div class="col-lg-9">

                            <div class="overflow-hidden mb-1">
                                <h2 class="font-weight-normal text-7 mb-0"><strong class="font-weight-extra-bold">My </strong>Candidate Bursary Creation</h2>
                            </div>
                            <div class="overflow-hidden mb-4 pb-3">
                                <p class="mb-0">Please enter the bursary details below.</p>
                            </div>


                            <div class="form-group row">
                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Title</label>
                                <div class="col-lg-12">
                                    <input asp-for="Title" class="form-control" required type="text" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Bursary Description</label>
                                <div class="col-lg-12">
                                    <textarea asp-for="Description" class="form-control" required type="text" value=""></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Bursary Type</label>
                                <div class="col-lg-12">
                                    @Html.DropDownListFor(m => m.BursaryTypeID, ViewBag.BursType as SelectList, htmlAttributes: new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">External link (if bursary type is external)</label>
                                <div class="col-lg-12">
                                    <textarea asp-for="externallink" class="form-control" required type="text" value=""></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Qualifying Criteria</label>
                                <div class="col-lg-12">
                                    <input asp-for="QualifyingCriteria" class="form-control" type="text" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Application open date</label>
                                <div class="col-lg-12">
                                    <input asp-for="ApplicationStartDate" class="form-control" required type="date" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Application close date</label>
                                <div class="col-lg-12">
                                    <input asp-for="ApplicationEndDate" class="form-control" required type="date" value="">
                                </div>
                            </div>



                            <div class="form-group row">
                                <div class="form-group col-lg-9">

                                </div>
                                <div class="form-group col-lg-3">
                                    <input type="submit" value="Save" class="btn btn-primary btn-modern float-right" data-loading-text="Submitting...">
                                </div>
                            </div>


                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>




<script>
var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
</script>