<div role="main" class="main">
    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>



    <div class="container py-4">
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h2 style="color:#a62237" class="font-weight-normal mb-5">BAM <strong class="font-weight-extra-bold">Forum</strong></h2>
                </div>
            </div>
        </div>

        <section class="section bg-color-grey section-height-3 border-0 mt-5 mb-0">
            <div class="container">

                <div class="row">
                    <div class="col">

                        <div class="row align-items-center pt-4 appear-animation" data-appear-animation="fadeInLeftShorter">
                            <div class="col-md-4 mb-4 mb-md-5">
                                <img style="width:70%" class="img-fluid scale-2 pr-5 pr-md-0 my-4" src="~/img/BAM_Poster.jpeg" alt="layout styles" />
                            </div>

                            <div class="col-md-8 pl-md-5">
                                <h2 class="font-weight-normal text-6 mb-3">Equip <strong class="font-weight-extra-bold">high school </strong>boys</h2>
                                <p class="text-justify">Since GBV-related offences against girls and women are perpetrated by boys and men, predominantly, our BAM Forum aims to equip high school boys, who may have witnessed or experienced GBV themselves, to collaborate in the co-creation of a strategy in which GBV is tackled collectively. Our BAM Forum shifts the toxic masculinity narrative of boys and men being aggressors in GBV by providing access to role models, adventure excursions and healing so that high school boys are better equipped to champion girls’ and women’s safety.</p>


                            </div>
                            <p class="text-1rem text-color-default text-justify negative-ls-05 pt-3 pb-4 mb-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500" data-appear-animation-duration="750">
                                The family is instrumental in perpetuating or diffusing gender stereotyping. Since most children spend the bulk of their time at school, schools serve as the second-most important socialising mechanism after the family. According to UN Women, men who witnessed violence against women as children are more likely to perpetrate intimate partner violence in their adult relationships.<br /> <br />    Any initiatives aimed at stemming the tide of GBV, like our <strong style="color:#a62237">#NOTNEXT</strong> project, will have mixed success if boys and young men are not supported to champion girls’ and young women’s safety. Our Boys And Men (abbreviated BAM) Forum recognises that, despite South Africa's entrenched patriarchy and the painful, daily, realities thereof, our mission to empower girls and young women will be compromised if it is not inclusive of other genders. This is because so-called women’s issues do not impact only on those with CISfemale gender identity.
                            </p>
                        </div>


                    </div>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col">
                <div class="blog-posts single-post">

                    <article class="post post-large blog-single-post border-0 m-0 p-0">
                        <div style="text-align:center" class="post-image ml-0">
                            <a href="#">
                                <img style="width:50%" src="~/img/StepUp_Poster.jpg" class="img-fluid img-thumbnail img-thumbnail-no-bordersd rounded-right" alt="" />
                            </a>
                        </div>
                      
                    </article>
                </div>
            </div>
        </div>
    </div>
 
</div>
