<div role="main" class="main">
    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>



    <div class="container">
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h2 style="color:#a62237" class="font-weight-normal">Big Sister <strong class="font-weight-extra-bold">network</strong></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="modal fade" id="at2" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" style="color:black;" id="largeModalLabel">
                                Woman & Home Magazine
                                June 2012
                            </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/BigSisternetwork/WandHome.pdf" allowfullscreen></iframe>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="modal fade" id="at1" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" style="color:black;" id="largeModalLabel">
                                Media Club South Africa
                                August 2012
                            </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/BigSisternetwork/MediaclubA.pdf" allowfullscreen></iframe>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <section class="section bg-color-grey section-height-3 border-0mb-0">
        <div class="container">

            <div class="row">
                <div class="col">

                    <div class="row align-items-center appear-animation" data-appear-animation="fadeInLeftShorter">
                        <div class="col-md-4 mb-md-0">
                            <img style="width:440px; height:300px;" class="img-fluid " src="~/images/BigSister.jpg" alt="layout styles" />
                        </div>
                        <div class="col-md-4 mb mb-md-0">
                            <img style="width:440px; height:300px;" class="img-fluid " src="~/images/Bigsis.jpg" alt="layout styles" />
                        </div>
                        <div class="col-md-4 pl-md-5">
                            <h2 class="font-weight-normal text-6 mb-3"><strong class="font-weight-extra-bold"></strong></h2>
                            <p class="line-height-9 text-4 text-justify">Our network is a pool of educated, professional women who are established in their respective careers and are a Big Sister to one girl (or more). Big Sisters are mentors who guide our Little Sisters, during their undergraduate studies, by giving them concrete advice and professional exposure. Click on the articles and video below for more information about our network.</p><br /><br />
                        </div>

                    </div>

                    <hr class="solid my-5">


                </div>
            </div>
        </div>
        <div class="container">
        
            <div class="row">
                <div class="col-md-4">
                    <a href="#" data-toggle="modal" data-target="#at2" class="font-weight-bold text-4 mb-1">
                        Woman & Home Magazine
                        June 2012
                    </a>
                    <div class="col-lg-12 mb-4 mb-lg-0">
                        <article class="post post-large pb-5">
                            <div class="post-image">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="~/BigSisternetwork/WandHome.pdf" width="360" height="250" allowfullscreen></iframe>
                                </div>
                            </div>

                            @*<div class="post-date">

                        <span class="month">Aug</span>
                        <span class="month">2012</span>
                    </div>*@


                        </article>
                    </div>
                </div>




                <div class="col-md-4">
                    <div class="post-image">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bM5ij-Lpa3I" width="640" height="360" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="#" data-toggle="modal" data-target="#at1" class="font-weight-bold text-4 mb-1">
                        Media Club South Africa
                        August 2012
                    </a>
                    <div class="col-lg-12 mb-4 mb-lg-0">
                        <article class="post post-large pb-5">
                            <div class="post-image">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="~/BigSisternetwork/MediaclubA.pdf" width="360" height="250" allowfullscreen></iframe>
                                </div>
                            </div>

                            @*<div class="post-date">

                        <span class="month">Jun</span>
                        <span class="month">2012</span>
                    </div>*@


                        </article>
                    </div>
                </div>
            </div>
        </div>
  
   
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-lg-5">
                    <div class="call-to-action-btn">
                        <a style="background-color:#a62237" asp-area="Identity" asp-route-id="2" asp-page="/Account/Register" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="btn btn-dark btn-lg text-3 font-weight-semibold px-4 py-3">Join our big sister network as a Mentor</a><span class="arrow hlb d-none d-md-block" data-appear-animation="rotateInUpLeft" style="top: -40px; left: 70%;"></span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="call-to-action-btn">
                        <a style="background-color:#a62237" asp-area="Identity" asp-route-id="1" asp-page="/Account/Register" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="btn btn-dark btn-lg text-3 font-weight-semibold px-4 py-3">Join our big sister network as a Mentee</a><span class="arrow hlb d-none d-md-block" data-appear-animation="rotateInUpLeft" style="top: -40px; left: 70%;"></span>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
