<div role="main" class="main">
    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>



    <div class="container py-4">
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h2 style="color:#a62237" class="font-weight-normal mb-5">Big Sister <strong class="font-weight-extra-bold">network</strong></h2>
                </div>
            </div>
        </div>
    </div>



    <section class="section bg-color-grey section-height-3 border-0 mt-5 mb-0">
        <div class="container">

            <div class="row">
                <div class="col">

                    <div class="row align-items-center pt-4 appear-animation" data-appear-animation="fadeInLeftShorter">
                        <div class="col-md-4 mb-4 mb-md-0">
                            <img class="img-fluid scale-2 pr-5 pr-md-0 my-4" src="~/images/BigSister.jpg" alt="layout styles" />
                        </div>
                        <div class="col-md-8 pl-md-5">
                            <h2 class="font-weight-normal text-6 mb-3"><strong class="font-weight-extra-bold"></strong></h2>
                            <p>Our network is a pool of educated, professional women who are established in their respective careers and are a Big Sister to one girl (or more). Big Sisters are mentors who guide our Little Sisters, during their undergraduate studies, by giving them concrete advice and professional exposure. Click on the articles and video below for more information about our network.</p><br /><br />
                        </div>
                    </div>

                    <hr class="solid my-5">


                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12">

                <div class="masonry-loader masonry-loader-showing">
                    <div class="row products product-thumb-info-list" data-plugin-masonry data-plugin-options="{'layoutMode': 'fitRows'}">
                        <div class="col-sm-6 product">
                            <div class="col-12">
                                <h2 class="font-weight-bold text-7 mb-1">
                                    Woman & Home Magazine
                                    June 2012
                                </h2>
                                <div class="col-lg-12 mb-4 mb-lg-0">
                                    <article class="post post-large pb-5">
                                        <div class="post-image">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="~/BigSisternetwork/WandHome.pdf" width="700" height="1100" allowfullscreen></iframe>
                                            </div>
                                        </div>

                                        @*<div class="post-date">
                                       
                                            <span class="month">Aug</span>
                                            <span class="month">2012</span>
                                        </div>*@

                                  
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 product">
                            <div class="col-12">
                                <h2 class="font-weight-bold text-7 mb-1">
                                    Media Club South Africa
                                    August 2012
                                </h2>
                                <div class="col-lg-12 mb-4 mb-lg-0">
                                    <article class="post post-large pb-5">
                                        <div class="post-image">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="~/BigSisternetwork/MediaclubA.pdf" width="700" height="1100" allowfullscreen></iframe>
                                            </div>
                                        </div>

                                        @*<div class="post-date">
                                          
                                            <span class="month">Jun</span>
                                            <span class="month">2012</span>
                                        </div>*@

                                      
                                    </article>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-9">
                    <div class="call-to-action-content">
                        <h2 style="color:#a62237" class="font-weight-normal text-6 mb-0">Join our big sister network</h2>

                    </div>
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class="call-to-action-btn">
                        <a style="background-color:#a62237" asp-controller="Home" asp-action="VolunteerWork" class="btn btn-dark btn-lg text-3 font-weight-semibold px-4 py-3">Join</a><span class="arrow hlb d-none d-md-block" data-appear-animation="rotateInUpLeft" style="top: -40px; left: 70%;"></span>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
