@model _18TWENTY8.Models.Workshops

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Workshops</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WorkshopID" />
            <div class="form-group">
                <label asp-for="WorkshopTitle" class="control-label"></label>
                <input asp-for="WorkshopTitle" class="form-control" />
                <span asp-validation-for="WorkshopTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkshopContent" class="control-label"></label>
                <input asp-for="WorkshopContent" class="form-control" />
                <span asp-validation-for="WorkshopContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fileurl" class="control-label"></label>
                <input asp-for="fileurl" class="form-control" />
                <span asp-validation-for="fileurl" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

