<div role="main" class="main">
    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>



    <div class="container py-4">
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h2 style="color:#a62237" class="font-weight-normal mb-5">Financial <strong class="font-weight-extra-bold">Assistance Programme</strong></h2>
                </div>
            </div>
        </div>
    </div>
    <section class="section bg-color-grey section-height-3 border-0 mt-5 mb-0">
        <div class="container">

            <div class="row">
                <div class="col">

                    <div class="row align-items-center pt-4 appear-animation" data-appear-animation="fadeInLeftShorter">
                        <div class="col-md-4 mb-4 mb-md-0">
                            <img class="img-fluid scale-2 pr-5 pr-md-0 my-4" src="~/img/Financial-Assistance-Programme.jfif" alt="layout styles" />
                        </div>
                        <div class="col-md-8 pl-md-5">
                            <h2 class="font-weight-normal text-6 mb-3"><strong class="font-weight-extra-bold">#</strong>Feesmustfall</h2>
                            <p class="line-height-9 text-4 text-justify">Campaigns like #feesmustfall demonstrate that higher education remains prohibitively expensive for the majority of South African students. We have many examples of young women who are academically-competent but forced to stay at home while they apply for funding or entry level jobs, in a country with stubbornly high youth unemployment, in order to earn an income to pay for their education. This causes frustration and unnecessary delays for their educational attainment and personal development.</p><br /><br />
                        </div>
                    </div>

                    <hr class="solid my-5">

                    <div class="row align-items-center pt-5 pb-3 appear-animation" data-appear-animation="fadeInRightShorter">
                        <div class="col-md-8 pr-md-5 mb-5 mb-md-0">
               
                            <p class="line-height-9 text-4 text-justify">The majority of our beneficiaries are the first in their families to complete Grade 12 - let alone enrol at university. In addition to financial constraints, the lack of positive role models and academic mentors, within families and the broader community, contributes to high university drop-out rates. Through fundraising, we have funded the full undergraduate costs of young women in the following fields: Education, Law, Computer Science, Sociology, Economics, Accounting, Civil Engineering, Internal Auditing and Biological Science. Read their stories on Our Graduates page. We are passionate about supporting young women to make uninterrupted transitions from high school, to university and ultimately the world of work. We circulate various bursary and work opportunities on Facebook and Twitter.</p>
                        </div>
                        <div class="col-md-4 px-5 px-md-3">
                            <div class="post-image">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/n3EfF03261w" width="640" height="360" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-9">
                    <div class="call-to-action-content">
                        <h2 style="color:#a62237" class="font-weight-normal text-6 mb-0"><strong class="font-weight-extra-bold">Register</strong> and <strong class="font-weight-extra-bold">apply</strong>  now for our <strong class="font-weight-extra-bold"> Financial Assistance Program</strong></h2>

                    </div>
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class="call-to-action-btn">
                        <a style="background-color:#a62237"  asp-area="Identity" asp-route-id="3" asp-page="/Account/Register" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"class="btn btn-dark btn-lg text-3 font-weight-semibold px-4 py-3">Register and Apply</a><span class="arrow hlb d-none d-md-block" data-appear-animation="rotateInUpLeft" style="top: -40px; left: 70%;"></span>
                    </div>
                </div>
            </div>
        </div>

    </section>

   
</div>

