<div role="main" class="main">
    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>



    <div class="container py-4">
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h2 style="color:#a62237" class="font-weight-normal mb-5">Leadership <strong class="font-weight-extra-bold">Camp</strong></h2>
                </div>
            </div>
        </div>
    </div>


    <div class="container py-4">

        <div class="row">
            <div class="col">
                <div class="blog-posts single-post">

                    <article class="post post-large blog-single-post border-0 m-0 p-0">
                        <div class="post-image ml-0">
                            <a href="#">
                                <img src="~/img/Camplanding.jpg" class="img-fluidestest img-thumbnail img-thumbnail-no-borders rounded-right" alt="" />
                            </a>
                        </div>
                        <p class="text-1rem text-color-default negative-ls-05 pt-3 pb-4 mb-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500" data-appear-animation-duration="750">Most of our beneficiaries are the first in their families to attend university and they are often overwhelmed by campus life and the rigour of their academic programmes. The content of our undergraduate leadership development camp is tailored from the knowledge gained from the life-skills workshops that we conduct for high-school girls and the growing number of requests for support that we receive from undergraduate young women. The camp equips young women with tools to remain resilient and achieve success, both during and after their undergraduate studies, by covering the following topics:<strong>Leadership; Mental Health; Career Pathing; Financial Fitness; Entrepreneurship; Personal Branding.</strong></p>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <section class="section bg-color-grey section-height-3 border-0 mt-5 mb-0">
        <div class="container">

            <div class="row">
                <div class="col">

                    <div class="row align-items-center pt-4 appear-animation" data-appear-animation="fadeInLeftShorter">
                        <div class="col-md-4 mb-4 mb-md-0">
                            <img class="img-fluidest scale-4 pr-5 pr-md-0 my-4" src="~/img/Camp2.jpg" alt="layout styles" />
                        </div>
                        <div class="col-md-8 pl-md-5">
                            <h2 class="font-weight-normal text-6 mb-3">The <strong class="font-weight-extra-bold">objectives of the camp </strong> are to:</h2>

                            <ul>
                                <li >Fuel gender transformation in South Africa</li>
                                <li >Foster a culture of active citizenry in young women</li>
                                <li >Promote the participation of young women in various leadership roles</li>
                                <li >Harness young women’s ability to participate actively as decision-makers</li>
                                <li >Build confidence, self-awareness and social consciousness in young women through the Ubuntu values-based system</li>
                                <li >Enable young women to take account of the context and environment in which they live, study and/or work in order to lead decisively</li>
                            </ul>
                        </div>
                    </div>

                    <hr class="solid my-5">

                    <div class="row align-items-center pt-5 pb-3 appear-animation" data-appear-animation="fadeInRightShorter">
                        <div class="col-md-8 pr-md-5 mb-5 mb-md-0">
                            <h2 class="font-weight-normal text-6 mb-3">Watch our 2019 <strong class="font-weight-extra-bold">camp video</strong></h2>
                           </div>
                        <div class="col-md-4 px-5 px-md-3">
                            <div class="post-image">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/t8gPIDtv8Bc" width="640" height="360" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
