<div role="main" class="main">
    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>
    <div class="container container-xl">
        <div class="row justify-content-center featured-boxes featured-boxes-style-4 pb-3 mb-4">


        </div>
    </div>
    <div class="container pb-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-6">
                <h2 class="font-weight-normal text-color-dark text-center text-8 mb-4">Thank you, your application for the volunteer programme <strong class="font-weight-extra-bold">has been submitted</strong></h2>






                <div class="form-row">
                    <div class="call-to-action-btn col text-center">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-modern text-2 btn-secondary">Return to home page</a><span class="arrow hlb d-none d-md-block" data-appear-animation="rotateInUpLeft" style="top: -40px; left: 70%;"></span>
                    </div>

                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

            <br />
            <br />
            <br />
            <br />

        </div>
        </div>
    </div>





</div>