@model _18TWENTY8.Models.LittleSisterDetail


<div role="main" class="main">
    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>
    <div class="container container-xl">
        <div class="row justify-content-center featured-boxes featured-boxes-style-4 pb-3 mb-4">


        </div>
    </div>
    <div class="container pb-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-6">
                <h2 class="font-weight-normal text-color-dark text-center text-8 mb-4">Please enter  your <strong class="font-weight-extra-bold">verification code</strong> sent via sms below </h2>

                <form asp-action="Verifytwof">


                    <div class="form-row">
                        <div class="form-group col-md-9 pr-md-2">
                            <input asp-for="VerifCodeComp" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-3 pr-md-2">
                            <input type="submit" value="Submit" class="btn btn-modern text-2 btn-secondary2" />
                        </div>
                    </div>
                  

                    <input type="hidden" asp-for="LittleSisterDetailID" />

                    <input type="hidden" asp-for="Name" class="form-control" />

                    <input type="hidden" asp-for="Surname" class="form-control" />

                    <input type="hidden" asp-for="Nickname" class="form-control" />

                    <input type="hidden" asp-for="IDPassport" class="form-control" />

                    <input type="hidden" asp-for="DateofBirth" class="form-control" />

                    <input type="hidden" asp-for="email" class="form-control" />

                    <input type="hidden" asp-for="Phonenumber" class="form-control" />

                    <input type="hidden" asp-for="howdidyouhearaboutQ" class="form-control" />

                    <input type="hidden" asp-for="BackgroundQ" class="form-control" />
                    <input type="hidden" asp-for="CurrentStudyQ" class="form-control" />
                    <input type="hidden" asp-for="InteractionlevelDigComother" class="form-control" />
                    <input type="hidden" asp-for="Interactionlevelmeetother" class="form-control" />

                    <input type="hidden" asp-for="EverbeenamenteeQ" class="form-control" />

                    <input type="hidden" asp-for="DetailsOnEverbeenMenteeQ" class="form-control" />

                    <input type="hidden" asp-for="ArrestedConvictedQ" class="form-control" />

                    <input type="hidden" asp-for="DetailsArrestedConvictedQ" class="form-control" />

                    <input type="hidden" asp-for="Interactionlevelmeet" class="form-control" />

                    <input type="hidden" asp-for="InteractionlevelDigCom" class="form-control" />

                    <input type="hidden" asp-for="prefferedMenteedetails" class="form-control" />
                    <input type="hidden" asp-for="ProfileStatusID" class="form-control" />
                    <input type="hidden" asp-for="Expectationsonlittlesister" class="form-control" />
                    <input type="hidden" asp-for="AddressStreetlinetwo" class="form-control" />

                    <input type="hidden" asp-for="AddressStreet" class="form-control" />
                    <input type="hidden" asp-for="VerifCode" class="form-control" />
                    <input type="hidden" asp-for="CVurl" class="form-control" />
                    <input type="hidden" asp-for="CertifiedID" class="form-control" />
                    <input type="hidden" asp-for="UserID" class="form-control" />
                    <input type="hidden" asp-for="EmergencyContactNameone" class="form-control" />
                    <input type="hidden" asp-for="EmergencyContactNametwo" class="form-control" />
                    <input type="hidden" asp-for="EmergencyContactNumberone" class="form-control" />
                    <input type="hidden" asp-for="EmergencyContactNumbertwo" class="form-control" />
                    <input type="hidden" asp-for="Imageurl" class="form-control" />
                    <input type="hidden" asp-for="Province" class="form-control" />
                    <input type="hidden" asp-for="PostalCode" class="form-control" />
                    <input type="hidden" asp-for="verifiedRegistration" class="form-control" />
                    <input type="hidden" asp-for="ConfirmMenteedurationQ" class="form-control" />

                    <input type="hidden" asp-for="DateCreated" class="form-control" />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />


                </form>
            </div>
        </div>
    </div>





</div>
<!-- Examples -->
