<div role="main" class="main">

    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>

    <div class="container py-4">
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h2 style="color:#a62237" class="font-weight-normal mb-5"><strong class="font-weight-extra-bold">BBBEE</strong></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="containereredd">
        <div class="row">
            <div class="col-md-9 col-lg-9">
                <div class="call-to-action-content">
                    <h2 style="color:#a62237" class="font-weight-normal text-6 mb-0"></h2>

                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="call-to-action-btn">
                    <a style="background-color:#a62237" asp-controller="Home" asp-action="Contact" class="btn btn-dark btn-lg text-3 font-weight-semibold px-4 py-3">Contact us</a><span class="arrow hlb d-none d-md-block" data-appear-animation="rotateInUpLeft" style="top: -40px; left: 70%;"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="blog-posts single-post">

                <article class="post post-large blog-single-post border-0 m-0 p-5">
                    <div class="post-image ml-0">
                        <a href="#">
                            <img src="~/images/image001.png" class="img-fluid img-thumbnail img-thumbnail-no-bordersdd rounded-0" alt="" />
                        </a>
                    </div>
                </article>

            </div>
        </div>
    </div>
