@model _18TWENTY8.Models.EMessage
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



<div role="main" class="main">
    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>
    <div class="container container-xl">
        <div class="row justify-content-center featured-boxes featured-boxes-style-4 pb-3 mb-4">

            <div class="col-md-6">
                <div class="featured-box featured-box-primary mx-5">
                    <div class="box-content appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">

                        <i style="color:forestgreen" class="icon-featured icons fab fa-whatsapp mb-3"></i>
                        <span class="d-block opacity-7 line-height-1">WhatsApp</span>
                        <h2 class="font-weight-bold text-color-dark text-5 mb-0">+27 60 798 7683</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="featured-box featured-box-primary">
                    <div class="box-content appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="1000">
                        <i style="color:darkblue" class="icon-featured icons icon-call-in mb-3"></i>
                        <span class="d-block opacity-7 line-height-1">Telephone number</span>
                        <h2 class="font-weight-bold text-color-dark text-5 mb-0">+27 11 064 4810</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pb-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-6">
                <h2 class="font-weight-normal text-color-dark text-center text-8 mb-4">We’d love to hear from<strong class="font-weight-extra-bold"> you</strong> </h2>

                <form asp-action="SendMessage" enctype="multipart/form-data" method="post">


                    <input type="hidden" value="Contact Form" name="subject" id="subject">
                    <div class="form-row">
                        <div class="form-group col-md-6 pr-md-2">
               
                            <input asp-for="Name" type="text"  data-msg-required="Please enter your name." maxlength="100" class="form-control" placeholder="Your Name..." name="Name" id="name" required>
                        </div>
                        <div class="form-group col-md-6 pl-md-2">
                            <input asp-for="Contact" type="text" data-msg-required="Please enter your phone." maxlength="100" class="form-control" placeholder="Your Phone..." name="Contact" id="phone" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <input  asp-for="From" type="email" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" placeholder="Your Email Address..." name="From" id="email" required>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <textarea asp-for="content"  maxlength="5000" data-msg-required="Please enter your message." rows="4" class="form-control" placeholder="Your Message..." name="content" id="message" required></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col text-center">
                            <input type="submit" value="SUBMIT" class="btn btn-primary font-weight-semibold text-3 px-5 btn-py-2" data-loading-text="Loading...">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>





</div>
<!-- Examples -->
