
<div role="main" class="main">
    <div class="container py-2">
        <div class="row">
            <div class="modal fade" id="JamillaM" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">Jamilla Mohammed</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/uploads/GraduateStories/story3283ce08-9669-4fa6-a465-6a6c43c0f693Jamillas_Story.pdf" allowfullscreen></iframe>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="modal fade" id="AyandaC" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">Ayanda C Mhlanga</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/uploads/GraduateStories/story6b41f23f-2622-483b-a861-df2e5b5e0c31Ayanda_Mhlanga_Letter.pdf" allowfullscreen></iframe>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="modal fade" id="RinkieL" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">Rinkie Leshilo</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/uploads/GraduateStories/story9d0bf07d-ef63-4817-bedf-94fc23d9cb33Rinkie_Leshilo.pdf" allowfullscreen></iframe>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="slider-container rev_slider_wrapper curved-border" style="height: 100vh;">
        <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1170, 'gridheight': 700, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true, 'style': 'arrows-style-1 arrows-primary' }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
            <ul>
                <li class="slide-overlay" data-transition="fade">
                    <img src="~/img/slides/Bgpicture.png"
                         alt=""
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         class="rev-slidebg">

                    <div class="tp-caption"
                         data-x="center" data-hoffset="['-145','-145','-145','-320']"
                         data-y="center" data-voffset="['-80','-80','-80','-130']"
                         data-start="1000"
                         data-transform_in="x:[-300%];opacity:0;s:500;"
                         data-transform_idle="opacity:0.2;s:500;"><img src="~/img/slides/slide-title-border-light.png" alt=""></div>

                    <div class="tp-caption text-color-dark font-weight-bolder"
                         data-x="center"
                         data-y="center" data-voffset="['-80','-80','-80','-130']"
                         data-start="700"
                         data-fontsize="['4','4','4','10']"
                         data-lineheight="['25','25','25','45']"
                         data-transform_in="y:[-50%];opacity:0;s:500;"><img style="width:10px!important; height:5px!important" src="~/img/picl0.png" alt=""></div>

                    <div class="tp-caption"
                         data-x="center" data-hoffset="['145','145','145','320']"
                         data-y="center" data-voffset="['-80','-80','-80','-130']"
                         data-start="1000"
                         data-transform_in="x:[300%];opacity:0;s:500;"
                         data-transform_idle="opacity:0.2;s:500;"><img src="~/img/slides/slide-title-border-light.png" alt=""></div>

                    <div class="tp-caption font-weight-extra-bold text-color-light"
                         data-frames='[{"delay":1300,"speed":1000,"frame":"0","from":"opacity:0;x:-50%;","to":"opacity:1;x:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-x="center" data-hoffset="['-135','-135','-135','-120']"
                         data-y="center"
                         data-fontsize="['150','150','150','255']"
                         data-lineheight="['160','160','160','265']"><img src="~/img/18.png" /></div>


                    <div class="tp-caption font-weight-extra-bold text-color-light"
                         data-frames='[{"delay":1700,"speed":1000,"frame":"0","from":"opacity:0;x:-50%;","to":"opacity:1;x:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-x="center" data-hoffset="['20','20','20','30']"
                         data-y="center"
                         data-fontsize="['160','160','160','265']"
                         data-lineheight="['160','160','160','265']"><img src="~/img/twenty.png" /></div>



                    <div class="tp-caption font-weight-extra-bold text-color-light"
                         data-frames='[{"delay":2100,"speed":1000,"frame":"0","from":"opacity:0;x:-50%;","to":"opacity:1;x:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-x="center" data-hoffset="['165','165','165','165']"
                         data-y="center"
                         data-fontsize="['160','160','160','265']"
                         data-lineheight="['160','160','160','265']"><img src="~/img/8.png" /></div>

                    <div class="tp-caption text-color-dark font-weight-normal"
                         data-x="center"
                         data-y="center" data-voffset="['80','80','80','130']"
                         data-start="700"
                         data-fontsize="['16','16','16','40']"
                         data-lineheight="['25','25','25','45']"
                         data-transform_in="y:[-50%];opacity:0;s:500;"><img style="width:30px!important; height:10px!important" src="~/img/picl1.png" alt=""></div>
                    <div class="tp-caption"
                         data-x="center" data-hoffset="['180','180','180','355']"
                         data-y="center" data-voffset="['80','80','80','130']"
                         data-start="1000"
                         data-transform_in="x:[300%];opacity:0;s:1000;"
                         data-transform_idle="opacity:0.2;s:500;"><img src="~/img/slides/slide-title-border-light.png" alt=""></div>
                    <div class="tp-caption"
                         data-x="center" data-hoffset="['-180','-180','-180','-355']"
                         data-y="center" data-voffset="['80','80','80','130']"
                         data-start="1000"
                         data-transform_in="x:[-300%];opacity:0;s:500;"
                         data-transform_idle="opacity:0.2;s:500;"><img src="~/img/slides/slide-title-border-light.png" alt=""></div>


                    <br />
                    <br />
                    <br />
           
                    <br />

                    <br />
                    <br />
                    <br />
                    <h2 class="tp-caption font-weight-extra-bold"
                       data-frames='[{"delay":2500,"speed":2000,"frame":"0","from":"opacity:0;y:50%;","to":"o:1;y:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
          
                       data-x="center" data-hoffset="0"
                       data-y="center" data-voffset="['160','160','160','285']"
                       data-whitespace="nowrap"
                       data-fontsize="['50','50','50','66']"
                       data-paddingtop="['17','17','17','40']"
                       data-paddingright="['35','35','35','80']"
                       data-paddingbottom="['17','17','17','40']"
                       data-paddingleft="['35','35','35','80']">Coming Soon</h2>
                    <br />

                    <div class="row">
                        <div class="col">
                            <div data-x="center"
                                 data-hoffset="['-180','-180','-180','-355']"
                                 data-y="center"
                                 data-voffset="['80','80','80','130']" class="countdown countdown-primary" data-plugin-countdown data-plugin-options="{'date': '2021/06/08 12:00:00', 'numberClass': 'font-weight-extra-bold'}"></div>
                        </div>
                    </div>

                </li>
                @*<li class="slide-overlay" data-transition="fade">
                        <img src="img/blank.gif"
                             alt=""
                             data-bgposition="center center"
                             data-bgfit="cover"
                             data-bgrepeat="no-repeat"
                             class="rev-slidebg">

                        <div class="rs-background-video-layer"
                             data-forcerewind="on"
                             data-volume="mute"
                             data-videowidth="100%"
                             data-videoheight="100%"
                             data-videomp4="video/18twenty8.mp4"
                             data-videopreload="preload"
                             data-videoloop="loop"
                             data-forceCover="1"
                             data-aspectratio="16:9"
                             data-autoplay="true"
                             data-autoplayonlyfirsttime="false"
                             data-nextslideatend="true">
                        </div>

                        <div class="tp-dottedoverlay tp-opacity-overlay"></div>
                    </li>*@
            </ul>
        </div>
    </div>

   

</div>
