<div role="main" class="main shop py-4">
    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>

    <div class="container py-4">
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h2 style="color:#a62237" class="font-weight-normal mb-5"><strong class="font-weight-extra-bold">Donate</strong></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-2">

        <div class="row">
            <div class="modal fade" id="Donate" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    

                        
                                    <div class="featured-box featured-box-primary  mt-5">
                                        <div class="box-content">
                                            <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3">Donate via PayPal, Debit Card or Credit Card</h4>

                                            <div class="mb-0 col-md-12 z-index-0" id="smart-button-container">


                                                <div class="mb-0 col-12" style="text-align: left"><label class="font-weight-bold text-dark text-2" for="description">Donation Description</label></div><div class="mb-0 col-12"><input class="form-control form-control-lg" class="mb-0 col-6" type="text" name="descriptionInput" id="description" maxlength="127" value=""></div>
                                                <p id="descriptionError" style="visibility: hidden; color:red; text-align: center;">Please enter a description</p>
                                                <div class="mb-0 col-12" style="text-align: left"><label class="font-weight-bold text-dark text-2" for="amount"> Amount in $ </label></div><div class="mb-0 col-12"><input class="form-control form-control-lg" name="amountInput" type="number" id="amount" value=""><span> USD</span></div>
                                                <p id="priceLabelError" style="visibility: hidden; color:red; text-align: center;">Please enter a price</p>
                                                <div id="invoiceidDiv" style="text-align: center; display: none;"><label for="invoiceid"> </label><input name="invoiceid" maxlength="127" type="text" id="invoiceid" value=""></div>
                                                <p id="invoiceidError" style="visibility: hidden; color:red; text-align: center;">Please enter an Invoice ID</p>
                                                <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>
                                            </div>
                                        </div>
                                    </div>
                              

                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 product">

                </div>
            </div>

        </div>

    </div>
    <div class="container">

        <div class="row">

            <div class="col-lg-12">

                <div class="masonry-loader masonry-loader-showing">
                    <div class="row products product-thumb-info-list" data-plugin-masonry data-plugin-options="{'layoutMode': 'fitRows'}">
                        <div class="col-sm-6 product">
                            <div class="col-12">
                                <h2 class="font-weight-bold text-9 mb-1">You can also donate</h2>
                                <h5 class="font-weight-semibold positive-ls-2 text-4 text-primary mb-3">Make your mark</h5>
                                <p class="ls-0 text-default fw-400 mb-5">Donations made to 18twenty8® are tax exempt in the hands of the donor and we will issue a S18A tax exemption certificate to you. Change a young woman's future by making a donation into this account:</p>
                                <div class="d-flex align-items-center border border-top-0 border-right-0 border-left-0 pb-4 mb-4">

                                    <p class="mb-0 col-6"><b class="text-color-dark">Account Holder -</b></p> <p class="mb-0 col-6">18twenty8®</p>
                                </div>
                                <div class="d-flex align-items-center border border-top-0 border-right-0 border-left-0 pb-4 mb-4">

                                    <p class="mb-0 col-6"><b class="text-color-dark">Bank</b></p><p class="mb-0 col-6">Nedbank</p>
                                </div>
                                <div class="d-flex align-items-center border border-top-0 border-right-0 border-left-0 pb-4 mb-4">
                                    <p class="mb-0 col-6"><b class="text-color-dark">Branch</b></p><p class="mb-0 col-6">Northmead Square</p>
                                </div>
                                <div class="d-flex align-items-center border border-top-0 border-right-0 border-left-0 pb-4 mb-4">
                                    <p class="mb-0 col-6"><b class="text-color-dark">Branch Code</b></p><p class="mb-0 col-6">19 48 42</p>
                                </div>
                                <div class="d-flex align-items-center border border-top-0 border-right-0 border-left-0 pb-4 mb-4">
                                    <p class="mb-0 col-6"><b class="text-color-dark">Account Number</b></p><p class="mb-0 col-6">1010 962 329</p>
                                </div>
                                <div class="d-flex align-items-center border border-top-0 border-right-0 border-left-0 pb-4 mb-4">
                                    <p class="mb-0 col-6"><b class="text-color-dark">Account Type</b></p><p class="mb-0 col-6">Cheque Account</p>
                                </div>
                                <div class="d-flex align-items-center border border-top-0 border-right-0 border-left-0 pb-4 mb-4">
                                    <p class="mb-0 col-6"><b class="text-color-dark">Swift Code</b></p><p class="mb-0 col-6">NEDSZAJJ</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 product">
                            <h5 class="font-weight-semibold positive-ls-2 text-4 text-primary mb-3">Donate via PayPal, Debit Card or Credit Card</h5>
                            <button type="button" class="btn btn-outline btn-rounded btn-primary  btn-with-arrow mb-2" href="#" data-toggle="modal" data-target="#Donate">Click here to Donate<span><i class="fas fa-angle-right"></i></span></button>
                            <form action="https://www.sandbox.paypal.com/donate" method="post" target="_top">
                                <input type="hidden" name="hosted_button_id" value="PUJ4XCUE2QGFG" />
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                                <img alt="" border="0" src="https://www.sandbox.paypal.com/en_ZA/i/scr/pixel.gif" width="1" height="1" />
                            </form>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>


    </div>











</div>
                    <script src="https://www.paypal.com/sdk/js?client-id=AWrg7U4nYKIhvoPGrt0qteRJfb48GCeWHvT-7De-evpEWwQKzM0kTSiO21C62gCqS29zwBtF8hMLuiKR&currency=USD" data-sdk-integration-source="button-factory"></script>
                    <script>
                        function initPayPalButton() {
                            var description = document.querySelector('#smart-button-container #description');
                            var amount = document.querySelector('#smart-button-container #amount');
                            var descriptionError = document.querySelector('#smart-button-container #descriptionError');
                            var priceError = document.querySelector('#smart-button-container #priceLabelError');
                            var invoiceid = document.querySelector('#smart-button-container #invoiceid');
                            var invoiceidError = document.querySelector('#smart-button-container #invoiceidError');
                            var invoiceidDiv = document.querySelector('#smart-button-container #invoiceidDiv');

                            var elArr = [description, amount];

                            if (invoiceidDiv.firstChild.innerHTML.length > 1) {
                                invoiceidDiv.style.display = "block";
                            }

                            var purchase_units = [];
                            purchase_units[0] = {};
                            purchase_units[0].amount = {};

                            function validate(event) {
                                return event.value.length > 0;
                            }

                            paypal.Buttons({
                                style: {
                                    color: 'gold',
                                    shape: 'rect',
                                    label: 'paypal',
                                    layout: 'vertical',

                                },

                                onInit: function (data, actions) {
                                    actions.disable();

                                    if (invoiceidDiv.style.display === "block") {
                                        elArr.push(invoiceid);
                                    }

                                    elArr.forEach(function (item) {
                                        item.addEventListener('keyup', function (event) {
                                            var result = elArr.every(validate);
                                            if (result) {
                                                actions.enable();
                                            } else {
                                                actions.disable();
                                            }
                                        });
                                    });
                                },

                                onClick: function () {
                                    if (description.value.length < 1) {
                                        descriptionError.style.visibility = "visible";
                                    } else {
                                        descriptionError.style.visibility = "hidden";
                                    }

                                    if (amount.value.length < 1) {
                                        priceError.style.visibility = "visible";
                                    } else {
                                        priceError.style.visibility = "hidden";
                                    }

                                    if (invoiceid.value.length < 1 && invoiceidDiv.style.display === "block") {
                                        invoiceidError.style.visibility = "visible";
                                    } else {
                                        invoiceidError.style.visibility = "hidden";
                                    }

                                    purchase_units[0].description = description.value;
                                    purchase_units[0].amount.value = amount.value;

                                    if (invoiceid.value !== '') {
                                        purchase_units[0].invoice_id = invoiceid.value;
                                    }
                                },

                                createOrder: function (data, actions) {
                                    return actions.order.create({
                                        purchase_units: purchase_units,
                                    });
                                },

                                onApprove: function (data, actions) {
                                    return actions.order.capture().then(function Redirect() {
                                        window.location = "http://18twenty8test.moseboadiragroup.co.za/home/SuccessfullDonation";

                                    });
                                },

                                onError: function (err) {
                                    console.log(err);
                                }
                            }).render('#paypal-button-container');
                        }
                        initPayPalButton();
                    </script>
