<div role="main" class="main shop py-4">
    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>

    <div class="container py-4">
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h2 style="color:#a62237" class="font-weight-normal mb-5"><strong class="font-weight-extra-bold">Donate</strong></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-2">

        <div class="row">
            <div class="modal fade" id="Donate" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">



                        <div class="featured-box featured-box-primary  mt-5">
                            <div class="box-content">
                                <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3">Donate via PayPal, Debit Card or Credit Card</h4>

                                <div class="mb-0 col-md-12 z-index-0" id="smart-button-container">


                                    <div class="mb-0 col-12" style="text-align: left"><label class="font-weight-bold text-dark text-2" for="description">Donation Description</label></div><div class="mb-0 col-12"><input class="form-control form-control-lg" class="mb-0 col-6" type="text" name="descriptionInput" id="description" maxlength="127" value=""></div>
                                    <p id="descriptionError" style="visibility: hidden; color:red; text-align: center;">Please enter a description</p>
                                    <div class="mb-0 col-12" style="text-align: left"><label class="font-weight-bold text-dark text-2" for="amount"> Amount in $ </label></div><div class="mb-0 col-12"><input class="form-control form-control-lg" name="amountInput" type="number" id="amount" value=""><span> USD</span></div>
                                    <p id="priceLabelError" style="visibility: hidden; color:red; text-align: center;">Please enter a price</p>
                                    <div id="invoiceidDiv" style="text-align: center; display: none;"><label for="invoiceid"> </label><input name="invoiceid" maxlength="127" type="text" id="invoiceid" value=""></div>
                                    <p id="invoiceidError" style="visibility: hidden; color:red; text-align: center;">Please enter an Invoice ID</p>
                                    <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>
                                </div>
                            </div>
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 product">

                </div>
            </div>

        </div>

    </div>
    <div class="container">

        <div class="row">

            <div class="col-lg-12">

                <div class="masonry-loader masonry-loader-showing">
                    <div class="row products product-thumb-info-list" data-plugin-masonry data-plugin-options="{'layoutMode': 'fitRows'}">
                        <div class="col-sm-6 product">
                            <div class="col-12">


                                <p class="ls-0 text-default text-justify fw-400 mb-5">Donations made to 18twenty8® are tax exempt in the hands of the donor and we will issue a S18A tax exemption certificate to you. Change a young woman's future by making a donation into this account:</p>
                                <div class="d-flex align-items-center border border-top-0 border-right-0 border-left-0 ">

                                    <p class="mb-0 col-6"><b class="text-color-dark">Account Holder</b></p> <p class="mb-0 col-6">18twenty8®</p>
                                </div>
                                <div class="d-flex align-items-center border border-top-0 border-right-0 border-left-0">

                                    <p class="mb-0 col-6"><b class="text-color-dark">Bank</b></p><p class="mb-0 col-6">Nedbank</p>
                                </div>
                                <div class="d-flex align-items-center border border-top-0 border-right-0 border-left-0">
                                    <p class="mb-0 col-6"><b class="text-color-dark">Branch</b></p><p class="mb-0 col-6">Northmead Square</p>
                                </div>
                                <div class="d-flex align-items-center border border-top-0 border-right-0 border-left-0">
                                    <p class="mb-0 col-6"><b class="text-color-dark">Branch Code</b></p><p class="mb-0 col-6">19 48 42</p>
                                </div>
                                <div class="d-flex align-items-center border border-top-0 border-right-0 border-left-0">
                                    <p class="mb-0 col-6"><b class="text-color-dark">Account Number</b></p><p class="mb-0 col-6">1010 962 329</p>
                                </div>
                                <div class="d-flex align-items-center border border-top-0 border-right-0 border-left-0">
                                    <p class="mb-0 col-6"><b class="text-color-dark">Account Type</b></p><p class="mb-0 col-6">Cheque Account</p>
                                </div>
                                <div class="d-flex align-items-center border border-top-0 border-right-0 border-left-0">
                                    <p class="mb-0 col-6"><b class="text-color-dark">Swift Code</b></p><p class="mb-0 col-6">NEDSZAJJ</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 product">
                            <div class="col-12">



                                <form action="https://www.payfast.co.za/eng/process" name="form_8253a88d941c9b84a2de26dba424f763" onsubmit="return click_8253a88d941c9b84a2de26dba424f763( this );" method="post">
                                    <input type="hidden" name="cmd" value="_paynow">
                                    <input type="hidden" name="receiver" value="17827513">
                                    <input type="hidden" name="item_name" value="18twenty8 Donate">
                                    <input type="hidden" name="amount" value="50.00">
                                    <input type="hidden" name="item_description" value="">
                                    <input type="hidden" name="return_url" value="http://18twenty8.org/home/SuccessfullDonation">
                                    <input type="hidden" name="cancel_url" value="http://18twenty8.org/home/UnsuccesfullDonation">

                                    <table>
                                        <tr><td><font color="red">*</font>&nbsp;Price</td><td><input type="text" name="custom_amount" class="pricing" value="50.00"></td></tr>
                                        <tr><td colspan=2 align=center><input type="image" src="https://www.payfast.co.za/images/buttons/light-large-donate.png" width="174" height="59" alt="Buy Now" title="Buy Now with PayFast"></td></tr>
                                    </table>
                                </form>

                            </div>
                            <div class="col-12">
                                <img class="img-fluid" src="~/img/Donate.jpg" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>










    </div>
    <script language="JavaScript" type="text/javascript">

        function click_8253a88d941c9b84a2de26dba424f763(aform_reference) {
            var aform = aform_reference;
            aform['amount'].value = Math.round(aform['amount'].value * Math.pow(10, 2)) / Math.pow(10, 2);
            aform['custom_amount'].value = aform['custom_amount'].value.replace(/^\s+|\s+$/g, "");
            if (!aform['custom_amount'].value || 0 === aform['custom_amount'].value.length || /^\s*$/.test(aform['custom_amount'].value)) {
                alert('An amount is required');
                return false;
            }
            aform['amount'].value = Math.round(aform['custom_amount'].value * Math.pow(10, 2)) / Math.pow(10, 2);
        }

    </script>

   