<div role="main" class="main">
    <div class="container py-2">
        <div class="row">
            <div class="modal fade" id="large" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">Ayandas Story</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="post-image">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="~/Uploads/GarduateStories/Jamillas_Story.pdf" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
     
        </div>
        </div>
      

        <div class="container py-4">
            <div class="col">
                <div class="row">
                    <div class="col text-center">
                        <h2 style="color:#a62237" class="font-weight-normal mb-5">Our <strong class="font-weight-extra-bold">Graduates</strong></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-4">

            <div class="row py-3 justify-content-center">
                <div class="col-sm-8 col-md-4 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeIn">
                    <article>
                        <div class="row">
                            <div class="col">
                                <a href="#" class="text-decoration-none">
                                    <img src="~/img/Graduates/JamillasStory.jpg" class="img-fluid hover-effect-2 mb-3" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h4 class="mb-0"><a href="#" class="text-2 text-uppercase font-weight-bold pt-2 d-block text-dark text-decoration-none">Jamillas Story</a></h4>
                                <p class="mb-2 lead text-4">Jamilla Muhammed, BCom (Economics), University Of Pretoria, 2019</p>

                            </div>
                        </div>
                    </article>

                </div>
                <div class="col-sm-8 col-md-4 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="250">
                    <article>
                        <div class="row">
                            <div class="col">
                                <a href="#" class="text-decoration-none">
                                    <img src="~/img/Graduates/AyandaMhlangasStory.jpg" class="img-fluid hover-effect-2 mb-3" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h4 class="mb-0"><a href="#" data-toggle="modal" data-target="#large" class="text-2 text-uppercase font-weight-bold pt-2 d-block text-dark text-decoration-none">Ayandas Story</a></h4>
                                <p class="mb-2 lead text-4">Ayanda Mhlanga, BSc(Construction Studies), Wits University, 2018.</p>
                                <p class="text-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non metus pulvinar.</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-8 col-md-4 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500">
                    <article>
                        <div class="row">
                            <div class="col">
                                <a href="#" class="text-decoration-none">
                                    <img src="~/img/Graduates/RinkiesStory.jpg" class="img-fluid hover-effect-2 mb-3" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h4 class="mb-0"><a href="#" class="text-2 text-uppercase font-weight-bold pt-2 d-block text-dark text-decoration-none">Rinkies Story</a></h4>
                                <p class="mb-2 lead text-4">Rinkie Leshilo, BA(Sociology), UNISA, 2016</p>
                                <p class="text-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non metus pulvinar.</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

        </div>
    </div>
