<div role="main" class="main">
    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>
    <div class="container py-4">
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h2 style="color:#a62237" class="font-weight-normal mb-5">Status <strong class="font-weight-extra-bold">of Women in South Africa</strong></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-2">
   
        <div class="row">
            <div class="modal fade" id="largeModal" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel"> Status of women in SA economy</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/Uploads/StatusOfWomen/Status_of_women_in_SA_economy.pdf" allowfullscreen></iframe>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="largeModal1" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel"> Economic empowerment 2001 2014</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/uploads/StatusOfWomen/Economic_Empowerment_2001_2014.pdf" allowfullscreen></iframe>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="largeModal2" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel"> Women in Politics 2017</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/uploads/StatusOfWomen/Women_in_Politics_2017.pdf" allowfullscreen></iframe>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
       
    </div>
    <div class="container py-4">

        <div class="row">
            <table class="table table-striped" width="99%">
                <tbody>
                    <tr>
                        <td width="22%"><strong>Election Year</strong></td>
                        <td width="7%"><strong>2004</strong></td>
                        <td width="8%"><strong>2009</strong></td>
                        <td width="7%"><strong>2014</strong></td>
                        <td width="7%"><strong>2019</strong></td>
                        <td width="45%"><strong>Comment</strong></td>
                    </tr>
                    <tr style="background-color: white;">
                        <td width="22%"><strong>Women MPs</strong></td>
                        <td width="7%">33%</td>
                        <td width="8%">43%</td>
                        <td width="7%">40%</td>
                        <td width="7%">46%</td>
                        <td width="45%">Highest proportion of women in Parliament in 2019.</td>
                    </tr>
                    <tr style="background-color: white;">
                        <td width="22%"><strong>Women in the NCOP</strong></td>
                        <td width="7%">41%</td>
                        <td width="8%">30%</td>
                        <td width="7%">28%</td>
                        <td width="7%">36%</td>
                        <td width="45%">Proportion of women in the NCOP, need substantial increases moving forward.</td>
                    </tr>
                    <tr style="background-color: white;">
                        <td width="22%"><strong>Women MPLs</strong></td>
                        <td width="7%">30%</td>
                        <td width="8%">41%</td>
                        <td width="7%">37%</td>
                        <td width="7%">46%</td>
                        <td width="45%">Highest proportion of women in 2019.</td>
                    </tr>
                    <tr style="background-color: white;">
                        <td width="22%"><strong>Women in cabinet</strong></td>
                        <td width="7%">42%</td>
                        <td width="8%">41%</td>
                        <td width="7%">41%</td>
                        <td width="7%">50%</td>
                        <td width="45%">Highest proportion in 2019, 50% cabinet for the first time</td>
                    </tr>
                    <tr style="background-color: white;">
                        <td width="22%"><strong>Women deputy ministers</strong></td>
                        <td width="7%">60%</td>
                        <td width="8%">39%</td>
                        <td width="7%">44%</td>
                        <td width="7%">46%</td>
                        <td width="45%">Falls short of the 50% mark.</td>
                    </tr>
                    <tr style="background-color: white;">
                        <td width="22%"><strong>Women premiers</strong></td>
                        <td width="7%">44%</td>
                        <td width="8%">55%</td>
                        <td width="7%">22%</td>
                        <td width="7%">22%</td>
                        <td width="45%">Dropped from 2004 and 2009, 22% in the last two elections, needs urgent action to achieve the 50% mark.</td>
                    </tr>
                    <tr style="background-color: white;">
                        <td width="22%"><strong>Women voters</strong></td>
                        <td width="7%">55%</td>
                        <td width="8%">55%</td>
                        <td width="7%">56%</td>
                        <td width="7%">55%</td>
                        <td width="45%">Consistently at around 55%</td>
                    </tr>
                    <tr style="background-color: white;">
                        <td width="22%"><strong>Women as news sources</strong></td>
                        <td width="7%">22%</td>
                        <td width="8%">24%</td>
                        <td width="7%">25%</td>
                        <td width="7%">20%</td>
                        <td width="45%">Lowest proportion of female sources in the last four elections.</td>
                    </tr>
                </tbody>
            </table>
            @*<div class="col-md-5 order-md-2 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">
                <img src="~/Uploads/StatusOfWomen/Status-Of-Women-In-South--Africa.jfif" class="img-fluid" alt="">
            </div>*@
        </div>
    </div>
</div>
