<div role="main" class="main">
    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>
    <div class="container py-4">
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h2 style="color:#a62237" class="font-weight-normal mb-5">Status <strong class="font-weight-extra-bold">of Women in South Africa</strong></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-2">

        <div class="row">
            <div class="modal fade" id="largeModal" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">Gender Series IV Economic Empowerment Report</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/Uploads/StatusWomen/GenderSeriesIV.pdf" allowfullscreen></iframe>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="largeModal1" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">UN Women in Politics Map</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/uploads/StatusWomen/UNpoliticalmap.pdf" allowfullscreen></iframe>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="largeModal2" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">2015 Women’s Roundtable Parliament</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/uploads/StatusWomen/WomansRoundTable.pdf" allowfullscreen></iframe>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="largeModal3" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">Status of women in SA Economy</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/uploads/StatusWomen/StatusofWomenSAeconomy.pdf" allowfullscreen></iframe>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="largeModal4" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">McKinsey Global Institute The power of parity</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/uploads/StatusWomen/MckinseyGlobal.pdf" allowfullscreen></iframe>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="largeModal5" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">Gender Responsive Planning</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/uploads/StatusWomen/GenderResponsivePlanning.pdf" allowfullscreen></iframe>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="largeModal6" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">National Planning Commission</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/uploads/StatusWomen/NationalPlanningCommission.pdf" allowfullscreen></iframe>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="largeModal7" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel"> South African Women Political Representation</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/Uploads/StatusWomen/Statuswomeninpolitics.pdf" allowfullscreen></iframe>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="container">

        <div class="row">






            <div class="col-sm-4">
                <a style="color:darkblue; text-decoration:underline;" href="#" data-toggle="modal" data-target="#largeModal" class="font-weight-bold">
                    Gender Series IV Economic Empowerment Report
                </a>
                <div class="col-sm-12">
                    <article class="post post-large">
                        <div class="post-image">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/Uploads/StatusWomen/GenderSeriesIV.pdf" width="360" height="250" allowfullscreen></iframe>
                            </div>
                        </div>



                    </article>
                </div>
            </div>
            <div class="col-sm-4">
                <a style="color:darkblue; text-decoration:underline;"  href="#" data-toggle="modal" data-target="#largeModal1" class="font-weight-bold text-4">
                    UN Women in Politics Map
                </a>
                <div class="col-sm-12">
                    <article class="post post-large">
                        <div class="post-image">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/uploads/StatusWomen/UNpoliticalmap.pdf" width="360" height="250" allowfullscreen></iframe>
                            </div>
                        </div>




                    </article>
                </div>
            </div>


            <div class="col-sm-4">
                <a style="color:darkblue; text-decoration:underline;"  href="#" data-toggle="modal" data-target="#largeModal2" class="font-weight-bold text-4">
                    2015 Women’s Roundtable Parliament
                </a>
                <div class="col-sm-12">
                    <article class="post post-large">
                        <div class="post-image">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/uploads/StatusWomen/WomansRoundTable.pdf" width="360" height="250" allowfullscreen></iframe>
                            </div>
                        </div>



                    </article>
                </div>
            </div>
            <div class="col-sm-4">
                <a style="color:darkblue; text-decoration:underline;"  href="#" data-toggle="modal" data-target="#largeModal3" class="font-weight-bold text-4">
                    Status of women in SA Economy
                </a>
                <div class="col-sm-12">
                    <article class="post post-large">
                        <div class="post-image">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/uploads/StatusWomen/StatusofWomenSAeconomy.pdf" width="360" height="250" allowfullscreen></iframe>
                            </div>
                        </div>



                    </article>
                </div>
            </div>


            <div class="col-sm-4">
                <a style="color:darkblue; text-decoration:underline;"  href="#" data-toggle="modal" data-target="#largeModal4" class="font-weight-bold text-4">
                    McKinsey Global Institute The power of parity
                </a>
                <div class="col-sm-12">
                    <article class="post post-large">
                        <div class="post-image">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/uploads/StatusWomen/MckinseyGlobal.pdf" width="360" height="250" allowfullscreen></iframe>
                            </div>
                        </div>


                    </article>
                </div>
            </div>
            <div class="col-sm-4">
                <a style="color:darkblue; text-decoration:underline;"  href="#" data-toggle="modal" data-target="#largeModal5" class="font-weight-bold text-4">
                    Gender Responsive Planning
                </a>
                <div class="col-sm-12">
                    <article class="post post-large">
                        <div class="post-image">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/uploads/StatusWomen/GenderResponsivePlanning.pdf" width="360" height="250" allowfullscreen></iframe>
                            </div>
                        </div>


                    </article>
                </div>
            </div>

            <div class="col-sm-4">
                <a style="color:darkblue; text-decoration:underline;"  href="#" data-toggle="modal" data-target="#largeModal6" class="font-weight-bold text-4">
                    National Planning Commission
                </a>
                <div class="col-sm-12">
                    <article class="post post-large">
                        <div class="post-image">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/uploads/StatusWomen/NationalPlanningCommission.pdf" width="360" height="250" allowfullscreen></iframe>
                            </div>
                        </div>


                    </article>
                </div>
            </div>
            <div class="col-sm-4">
                <a style="color:darkblue; text-decoration:underline;"  href="#" data-toggle="modal" data-target="#largeModal7" class="font-weight-bold text-4">
                    South African Women Political Representation
                </a>
                <div class="col-sm-12">
                    <article class="post post-large">
                        <div class="post-image">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/Uploads/StatusWomen/Statuswomeninpolitics.pdf" width="360" height="250" allowfullscreen></iframe>
                            </div>
                        </div>


                    </article>
                </div>
            </div>







        </div>

 










    </div>

</div>
