<div role="main" class="main">
    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>
    <div class="container py-4">
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h2 style="color:#a62237" class="font-weight-normal mb-5">Status <strong class="font-weight-extra-bold">of Women in South Africa</strong></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-2">
   
        <div class="row">
            <div class="modal fade" id="largeModal" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel"> Status of women in SA economy</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/Uploads/StatusOfWomen/Status_of_women_in_SA_economy.pdf" allowfullscreen></iframe>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="largeModal1" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel"> Economic empowerment 2001 2014</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/uploads/StatusOfWomen/Economic_Empowerment_2001_2014.pdf" allowfullscreen></iframe>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="largeModal2" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel"> Women in Politics 2017</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/uploads/StatusOfWomen/Women_in_Politics_2017.pdf" allowfullscreen></iframe>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
       
    </div>
    <div class="container py-4">

        <div class="row">
            <div class="col-md-7 order-2">

                <div class="overflow-hidden mb-3">


                </div>
                <ul class="list list-icons">
                    <li><i class="fas fa-check"></i><a href="#" data-toggle="modal" data-target="#largeModal"> Status of women in SA economy </a></li>
                    <li><i class="fas fa-check"></i> <a href="#" data-toggle="modal" data-target="#largeModal1">  Economic empowerment 2001 2014</a></li>
                    <li><i class="fas fa-check"></i><a href="#" data-toggle="modal" data-target="#largeModal2"> Women in Politics 2017</a></li>


                </ul>
                <hr class="solid my-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">
                <div class="row align-items-center appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000">



                </div>
            </div>
            <div class="col-md-5 order-md-2 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter">
                <img src="~/Uploads/StatusOfWomen/Status-Of-Women-In-South--Africa.jfif" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>
