<div role="main" class="main">
    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>
    <div class="container container-xl">
        <div class="row justify-content-center featured-boxes featured-boxes-style-4">


        </div>
    </div>
    <div class="container pb-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-6">
                <h2 class="font-weight-normal text-color-dark text-center text-8">Thank you! We will respond soon.</h2>


                <div class="row">
                    <div class="col">
                        <div class="blog-posts single-post">

                            <article class="post post-large blog-single-post border-0 m-0 p-0">
                                <div style="text-align:center" class="post-image ml-0">
                                    <a href="#">
                                        <img style="width:50%" src="~/img/thankyoup.jpg" class="img-fluid img-thumbnail img-thumbnail-no-bordersd rounded-right" alt="" />
                                    </a>
                                </div>

                            </article>
                        </div>
                    </div>
                </div>




                <div class="form-row">
                    <div class="call-to-action-btn col text-center">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-modern text-2 btn-secondary">Return to home page</a>

                    </div>
                </div>
          

            </div>
        </div>
    </div>





</div>