@model _18TWENTY8.Models.BigSisterDetail

<div role="main" class="main">
    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>
    <div class="container container-xl">
        <div class="row justify-content-center featured-boxes featured-boxes-style-4 pb-3 mb-4">


        </div>
    </div>
    <div class="container pb-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-6">
                <h2 class="font-weight-normal text-color-dark text-center text-8 mb-4">The code you entered was  <strong class="font-weight-extra-bold">incorrect</strong></h2>


                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

                <br />
                <br />
                <br />
                <br />




                <div class="form-row">
                    <div class="call-to-action-btn col text-center">
                        <a asp-controller="BigSisterDetails" asp-route-id="@ViewBag.ID" asp-action="Verifytwof" class="btn btn-modern text-2 btn-secondary">Retry</a>

                    </div>
                </div>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>





</div>